* {
  font-family: Verdana, sans-serif;
  color: rgb(3, 63, 10);
  background-color: rgb(177, 174, 174);
}

a {
  color: rgb(37, 5, 179);
}

h1 {text-align: center;}

.bigimg {
  height: auto;
  width: 600px;
}

.brownie {
  height: auto;
  width: 400px;
}

img {
  height: auto;
  width: 350px;
display: block;
margin-left: auto;
margin-right: auto;
}

.center {text-align: center;}